%basic-thumb {
  @include circle($space-unit * 2);

  cursor: pointer;
  background-color: $white;
}

input,
select,
textarea {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: none;
  border: 0;
  padding: .125rem .5rem;
  margin: 0 0 $space-unit;
  width: 100%;
  max-width: 100%;
  font: {
    size: $medium;
    family: $body-font;
  };
  transition: {
    property: background-color;
    duration: $fast;
    timing-function: $cubic;
  };

  &:focus {
    background-color: $white;
  }

  &:disabled {
    background-color: rgba($black, .5);
  }

  &:-webkit-autofill {
    box-shadow: 0 0 0 100rem $white inset;
  }
}

input[type='file'],
input[type='hidden'] {
  @include do-not-show;
}

input[type='checkbox'],
input[type='radio'] {
  @include size($space-unit * 2, $space-unit * 2);

  cursor: pointer;
  border: .5rem solid $primary-color;

  &:checked {
    background-color: $primary-color;
  }
}

input[type='radio'] {
  border-radius: 50%;
}

input[type='range'] {
  background-color: rgba($black, .1);
  cursor: ew-resize;
  height: .5rem;
  margin: .5rem 0;
}

input[type='range']::-ms-track {
  cursor: ew-resize;
  color: transparent;
}

input[type='range']::-webkit-slider-thumb {
  @extend %basic-thumb;

  -webkit-appearance: none;
}

input[type='range']::-ms-thumb {
  @extend %basic-thumb;
}

input[type='range']::-ms-fill-lower {
  background-color: $primary-color;
}

input[type='range']::-ms-fill-upper {
  background-color: rgba($black, .1);
}

select {
  border-radius: 0;
}

textarea {
  resize: vertical;
}

label[for] {
  cursor: pointer;
}

fieldset {
  padding: $space-unit;
  margin: 0;
  border: 0;
}

legend {
  font-weight: $default-weight;
}
