<header class="page__header">
  <h2 class="title page__title">
    <span>User profile: </span>
    <span class="user-profile__username username"><%= @user.username %></span>
  </h2>
  <%= render partial: "follows/new", locals: {
    user: @user,
    other_user: @other_user,
    unconfirmed_user: @unconfirmed_user
  } %>
</header>

<%= render partial: "shared/user_search" %>

<% unless @unconfirmed_user %>
  <section class="user-profile__section user-profile__cubes-wrap">
    <header class="user-profile__section-header">
      <h3 class="user-profile__section-heading">Cubes:</h3>
    </header>
    <% if @cubes.any? %>
      <ul class="user-profile__cubes-list">
        <% @cubes.each do |cube| %>
          <li class="user-profile__cube cube">
            <%= cube.id %>
          </li>
        <% end %>
      </ul>
    <% elsif @other_user %>
      <div class="no-objects no-objects__user-cubes">
        <span><%= @user.username %> doesn't have any cubes yet.</span>
      </div>
    <% else %>
      <div class="no-objects no-objects__user-cubes">
        <span>You don't have any cubes yet, </span>
        <%= link_to "make one", new_cube_path %>
        <span>!</span>
      </div>
    <% end %>
  </section>

  <section class="user-profile__section user-profile__decks-wrap">
    <header class="user-profile__section-header">
      <h3 class="user-profile__section-heading">Decks:</h3>
    </header>
    <% if @decks&.any? %>
      <ul class="user-profile__decks-list">
        <% @decks.each do |deck| %>
          <li class="user-profile__deck deck">
            <%= deck.id %>
          </li>
        <% end %>
      </ul>
    <% elsif @other_user %>
      <div class="no-objects no-objects__user-decks">
        <span><%= @user.username %> doesn't have any decks yet.</span>
      </div>
    <% else %>
      <div class="no-objects no-objects__user-decks">
        <span>You don't have any decks yet, </span>
        <%= link_to "draft a cube", cubes_path %>
        <span>!</span>
      </div>
    <% end %>
  </section>

  <% unless @other_user %>
    <% if @cards&.any? %>
      <section class="user-profile__section user-profile__cards-wrap">
        <header class="user-profile__section-header">
          <h3 class="user-profile__section-heading">Cards:</h3>
        </header>
        <ul class="user-profile__cards-list">
          <% @cards.each do |card| %>
            <li class="user-profile__card card">
              <%= card.id %>
            </li>
          <% end %>
        </ul>
      </section>
    <% end %>

    <%= render partial: "follows/index", locals: { follows: @follows } %>
  <% end %>
<% else %>
  <div class="no-objects no-objects__user">This user has not yet confirmed their profile.</div>
<% end %>
