<% if follows&.any? %>
  <section class="user-profile__section user-profile__follows-wrap">
    <header class="user-profile__section-header">
      <h3 class="user-profile__section-heading">Follows:</h3>
    </header>
    <ul class="user-profile__follows-list">
      <% follows.each do |follow| %>
        <li class="user-profile__follow follow">
          <%= link_to follow.username, "/profile/#{follow.username}" %>
        </li>
      <% end %>
    </ul>
  </section>
<% else %>
  <div class="no-objects no-objects__user-follows">
    <span>You don't follow any users yet, </span>
    <%= link_to "find a friend", "/" %>
    <span>!</span>
  </div>
<% end %>
