<% if other_user && !unconfirmed_user %>
  <div class="user-profile__follow-wrap">
    <%= link_to follows_path(destination_id: user.to_param), class: "btn user-profile__follow-btn" do %>
      <span>Follow </span>
      <span class="username"><%= user.username %></span>
    <% end %>
  </div>
<% end %>
