<li className="list__item user-search__result search-result__wrapper">
  <header className="search-result__header">
    <h4 className="search-result__header">
      <%= link_to "User: #{@follow.username}", "/profile/#{@follow.username}", class: "search-result__link" %>
    </h4>
  </header>
  <div className="search-result__info">
    <%= link_to "View profile", "/profile/#{@follow.username}", class: "search-result__button btn" %>
  </div>
</li>
