// Base colors
$black: #000;
$white: #fff;

$gray-10: lighten($black, 10%);
$gray-20: lighten($black, 20%);
$gray-30: lighten($black, 30%);
$gray-40: lighten($black, 40%);
$gray-50: lighten($black, 50%);
$gray-60: darken($white, 40%);
$gray-70: darken($white, 30%);
$gray-80: darken($white, 20%);
$gray-90: darken($white, 10%);

// Theme colors
$primary-color: #ee8927;
$secondary-color: #f8ab50;
$tertiary-color: #efdec4;

// Color palate
$red: #ff3e3e;
$orange: $primary-color;
$yellow: #ffe13d;
$green: #19a560;
$blue: #4285f4;
$purple: #d822ec;

// Area colors
$header-bg: #2c3e50;
$body-bg: #151829;
$footer-bg: #2c3e50;

// Font colors
$body-color: $body-bg;
$heading-color: $secondary-color;
$link-color: darken($blue, 5%);
$dark-bg-color: #f8fafb;

// Context colors
$negative-color: $red;
$warning-color: $orange;
$positive-color: $green;
$ignore-color: #869ca8;
$disabled-color: rgba($black, .5);
