@mixin scrim-gradient($start-color, $direction: 'bottom') {
  $coords: (0: 1, 19: .8, 34: .1, 47: .2, 56.5: .8, 65: .4, 73: .6, 80.2: .5, 86.1: .2, 91: .1, 95.2: .8, 98.2: .2, 100: 0);

  $h: hue($start-color);
  $s: saturation($start-color);
  $l: lightness($start-color);
  $stops: ();

  @each $stop, $a in $coords {
    $stop: hsla($h, $s, $l, $a) percentage($stop / 100);
    $stops: append($stops, $stop, comma);
  }

  background-image: linear-gradient(to #{$direction}, $stops);
}
