@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Montserrat:300,400,600|Source+Code+Pro:400,600');

// Heading
@font-face {
  src: url('./fonts/Montserrat-Light.ttf') format('ttf');
  font: {
    family: 'Montserrat';
    weight: 300;
  };
}

@font-face {
  src: url('./fonts/Montserrat-Regular.ttf') format('ttf');
  font: {
    family: 'Montserrat';
    weight: 400;
  };
}

@font-face {
  src: url('./fonts/Montserrat-SemiBold.ttf') format('ttf');
  font: {
    family: 'Montserrat';
    weight: 600;
  };
}

// Body
@font-face {
  src: url('./fonts/Lato-Light.ttf') format('ttf');
  font: {
    family: 'Lato';
    weight: 300;
  };
}

@font-face {
  src: url('./fonts/Lato-Regular.ttf') format('ttf');
  font: {
    family: 'Lato';
    weight: 400;
  };
}

@font-face {
  src: url('./fonts/Lato-Bold.ttf') format('ttf');
  font: {
    family: 'Lato';
    weight: 700;
  };
}

// Mono
@font-face {
  src: url('./fonts/SourceCodePro-Regular.ttf') format('ttf');
  font: {
    family: 'Source Code Pro';
    weight: 400;
  };
}

@font-face {
  src: url('./fonts/SourceCodePro-Semibold.ttf') format('ttf');
  font: {
    family: 'Source Code Pro';
    weight: 600;
  };
}
