<footer class="app__footer">
  <nav class="menu__wrap footer__menu">
    <ul class="menu">
      <li class="menu__item">
        <%= link_to "About", "/about", class: "menu__link" %>
      </li>
      <li class="menu-item">
        <%= link_to "Contact", "/contact", class: "menu__link" %>
      </li>
    </ul>
  </nav>
</footer>