<header class="app__header">
  <h1 class="title app__title">MTG Cube Draft</h1>

  <nav class="menu__wrap header__menu">
    <ul class="menu">
      <% if user_signed_in? %>
        <li class="menu__item">
          <%= link_to "Home", "/", class: "menu__link" %>
        </li>
        <li class="menu-item">
          <%= link_to "Your profile", profile_path, class: "menu__link" %>
        </li>
        <li class="menu-item">
          <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "menu__link" %>
        </li>
      <% else %>
        <li class="menu__item">
          <%= link_to "Home", "/", class: "menu__link" %>
        </li>
        <li class="menu-item">
          <%= link_to "Sign in", new_user_session_path, class: "menu__link" %>
        </li>
        <li class="menu-item">
          <%= link_to "Sign up", new_user_registration_path, class: "menu__link" %>
        </li>
      <% end %>
    </ul>
  </nav>
</header>
