<!DOCTYPE html>

<html lang="en">
<head>
  <title>MTG Cube Draft</title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
</head>

<body>
  <%= render partial: "layouts/header" %>

  <main class="app__main">
    <% if notice %>
      <div class="alert__message notice"><%= notice %></div>
    <% end %>

    <% if alert %>
      <div class="alert__message alert"><%= alert %></div>
    <% end %>

    <%= yield %>
  </main>

  <%= render partial: "layouts/footer" %>

  <%= javascript_pack_tag "application" %>
</body>
</html>
